# Copyright (C) 2017 Michael Picht
#
# This file is part of gool.
#
# gool is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# gool is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with gool. If not, see <http://www.gnu.org/licenses/>.
#

# Desktop file for gool 

[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=0.9.2

# The name of the application
Name=gool

# A comment which can/will be used as a tooltip
Comment=Go - Online TV Recorder on Linux

# The executable of the application, possibly with arguments.
Exec="/usr/bin/gool process"

# The name of the icon that will be used to display this entry
Icon=gool

# Describes whether this application needs to be run in a terminal or not
Terminal=true

# Describes the categories in which this entry should be shown
Categories=Media;Video;